@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
body{
  margin: 0px;
  padding: 0px;
  font-family: 'Josefin Sans', sans-serif;
}

.seat-row{
  display: flex;
  justify-content: center;
}